.BC{
    width: 600px;
    height: 600px;
    border-collapse: collapse;
    border: chartreuse 15px solid;
    border-right: chartreuse;
    border-bottom: chartreuse;
    background-color: greenyellow;